<% content_for :head do %>
    <title>Order</title>
    <%= javascript_include_tag "channels/products" %>
<% end %>
<style>
  .setwidth {

    width: 20%;

    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 2%;
    margin-left: 2%;
  }

  .btn {
    margin-right: 2%;
  }

  img:not(.logo) {

    margin-top: 2%;
    width: 50px
  }

  .auto {
    display: block;

    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 300px;
    overflow: auto;
  }
</style>
<div class="col-md-12">

  <div class="col-md-1"></div>

  <div class="col-md-10">
    <div class="panel panel-default">
      <section class="menu">
        <div class="menu_title" id="mainmenu">
          <h2>Order </h2>


          <div class="panel-body">
            <div class="col-md-5">
              <div class="panel panel-default">


                <label for="" class="label-control  "> <span class="glyphicon glyphicon-shopping-cart"></span><u>Order
                  Details</u></label>
                <div id="order" class="panel-body">
                </div>
                <div>
                  <label for="" class="label-control glyphicon glyphicon-edit ">notes</label>
                  <input id="notes" type="text" class="form-control" style=" width:100%"> Total:

                  <label id="total">0</label>


                  <button onclick="checkOut()" class="btn btn-default glyphicon glyphicon-ok"> Order</Button>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <% if current_user.admin=='1' %>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <label> <u>Choose Customer to Order for </u></label>

                      <select id="users_lis" class="form-control">
                        <% @users.each do |user| %>
                            <option value="
                              <%= user.id %>"><%= user.first_name + " " +user.last_name %></option>
                        <% end %>
                      </select>
                    </div>
              <% else %>

                  <% if current_user.orders.last %>
                      <div class="panel panel-default">

                        <div class="panel-body">
                          <% current_user.orders.last.products.each do |product| %>
                              <label><u>Latest Order</u></label>
                              <div style="text-align: left">

                                <%= product.name %>
                                <%= product.price %> LE
                              </div>
                              </p>
                              </div>
                              </div>
                              <% if product.avatar.present? %>
                                  <%= image_tag product.avatar.url, class: "img-thumbnail", onclick: "addProductToOrder("+(product.id).to_s+")", style: "width:150px" %>
                              <% end %>
                              </p>
                          <% end %>

                  <% else %>
                      <h1>It's our pleasure to take your first order </h1>

                  <% end %>


              <% end %>

              <div class="panel panel-default">
                <div class="panel-body ">
                  <div>
                    <ul class="nav nav-tabs">

                      <% @categories.each_with_index do |category, index| %>


                          <li class=" <%= 'active' if index==0 %> ">
                            <a data-toggle="tab" href="#cat-<%= category.id %>">
                              <%= category.name %>
                            </a>
                          </li>

                      <% end %>
                    </ul>
                  </div>
                  <div id="tab-content" class="tab-content  auto ">

                    <% @categories.each_with_index do |category, index| %>
                        <div id='cat-<%= category.id %>' class="tab-pane fade in <%= 'active' if index==0 %> " style="text-align: left">

                        </div>
                    <% end %>

                  </div>


                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</div>
</div>

<!--Tea
<input type="number" onchange="textChange(i)">
<button onclick="increment(i)">+</button>
<button onclick="decrement(i)">-</button> EGP 3
<button onclick="remove(i)">x</button>
-->

<script>
    var IMAGE_URL = "https://res.cloudinary.com/cafeteria/image/upload/v1/products/";
    var IMAGE_SIZE = "medium";

    var products =
    <%= @products.to_json.html_safe %>
    var categories =
    <%= @categories.to_json.html_safe %>

    var productsMap = new Map();
    products.forEach(function (obj) {
        productsMap.set(obj.id, obj);
    });

    var products_div = document.getElementById("tab-content");
    function drawProducts() {
        categories.forEach(function (category) {
            document.getElementById("cat-" + category.id).innerHTML = "";
        });
        for (var product of productsMap.values()) {
            var category_div = document.getElementById("cat-" + product.category_id)

            var product_div = document.createElement("div");
            var product_name = document.createTextNode(product.name);
            var product_price = document.createTextNode(" Price " + product.price + "LE ");
            var product_avatar = document.createElement("img");
            product_avatar.setAttribute("onclick", "addProductToOrder(" + product.id + ")");
            product_avatar.src = IMAGE_URL + product.id + "/" + IMAGE_SIZE + "/" + product.avatar_file_name
            product_div.appendChild(product_avatar);
            product_div.appendChild(product_name);

            product_div.appendChild(product_price);
            product_div.innerHTML += "<hr/>"
            category_div.appendChild(product_div)

            $('img').not('.logo').addClass("img-thumbnail")
        }
    }

    drawProducts();

    var model = {};

    var order_products = new Map();
    var order_div = document.getElementById("order");
    var total_label = document.getElementById("total");

    function drawOrder() {
        order_div.innerHTML = '';
        var total = 0;
        for (var product of order_products.values()) {
            var product_name = document.createTextNode(product.name);
            var product_price = document.createTextNode(" Price " + product.price + "LE ");
            var product_quantity = document.createElement("input");
            product_quantity.type = "NUMBER";
            product_quantity.id = "quantity_input" + product.id
            product_quantity.setAttribute("value", product.quantity);
            product_quantity.setAttribute("oninput", "setQuantity(" + product.id + ",this.value)")
            var product_add = document.createElement("BUTTON");
            var add_text = document.createTextNode("+");
            product_add.appendChild(add_text);
            product_add.setAttribute("onclick", "changeQuantity(" + product.id + ",'+'" + ")")
            var product_mince = document.createElement("BUTTON");
            var mince_text = document.createTextNode("-");
            product_mince.appendChild(mince_text);
            product_mince.setAttribute("onclick", "changeQuantity(" + product.id + ",'-'" + ")")
            var product_remove = document.createElement("BUTTON");
            product_remove.type = "button";
            product_remove.setAttribute("onclick", "removeProductFromOrder(" + product.id + ")")
            //        product_remove.onclick=alert(product.id)
            var remove_text = document.createTextNode("X");
            product_remove.appendChild(remove_text);
            order_div.appendChild(product_name);
            order_div.appendChild(product_quantity);
            order_div.appendChild(product_add);
            order_div.appendChild(product_mince);
            order_div.appendChild(product_remove);
            order_div.appendChild(product_price);

            order_div.innerHTML += "<hr/>"
            total += (product.price * product.quantity)
        }
        total_label.innerText = total;
        $("button").addClass("btn btn-default")
        $('button:contains("X")').addClass("btn btn-danger")
        $('input[type=number]').addClass("setwidth")
        //        $("input").addClass("form-control")

        $('label').addClass('form-inline')

    }

    function removeProductFromOrder(id) {
        order_products.delete(id)
        drawOrder();
    }

    function removeProduct(id) {
        productsMap.delete(id)
        drawProducts();
        removeProductFromOrder(id);
    }
    function addProduct(product) {
        productsMap.set(product.id, product);

        drawProducts();
    }

    function changeQuantity(id, operand) {
        var product = order_products.get(id);
        if (product.quantity < 1 && operand == '-')
            return;
        product.quantity = (operand == "+") ? product.quantity + 1 : product.quantity - 1;

        order_products.set(id, product);
        drawOrder();

    }

    function setQuantity(id, quantity) {

        if (isNaN(quantity) || quantity < 0)
            return;
        var product = order_products.get(id);
        product.quantity = quantity;
        order_products.set(id, product);
        drawOrder();
        document.getElementById("quantity_input" + id).focus();
        document.getElementById("quantity_input" + id).value = quantity
    }

    function addProductToOrder(id) {
        var product = productsMap.get(id);
        if (order_products.get(id)) {
            var oldQuantity = order_products.get(id).quantity;
            product.quantity = oldQuantity + 1;
            order_products.set(id, product)
        }
        else {
            product.quantity = 1
            order_products.set(id, product)
        }
        // products[0].quantity=(products[0].quantity)?products[0].quantity+1:1
        // order_products.push (products[0])
        drawOrder()
    }
    $(function () {


    })

    function checkOut() {
        var order = {};
        order.notes = "" + document.getElementById("notes").value;
        order.orderdetails = [];

        var e = document.getElementById("users_list");
        if (e)
            order.user_id = e.options[e.selectedIndex].value;

        for (var product of order_products.values()) {
            order.orderdetails.push({
                "product_id": product.id,
                "quantity": product.quantity
            })
        }

        order.products = productsMap;
        $.ajax({
            type: "POST",
            url: "/orders.json",
            data: {"order": order},
            dataType: 'json',
            context: document.body,
            success: function (data) {
                console.log('succes');
                console.log(data);
            }
        });

    }


    function notifyMe(message, body) {
        var options = {
            body: body | "",
            icon: "https://res.cloudinary.com/cafeteria/image/upload/v1/products/1/medium/images.jpg"
        }
        // Let's check if the browser supports notifications
        if (!("Notification" in window)) {
            alert("This browser does not support desktop notification");
        }

        // Let's check whether notification permissions have already been granted
        else if (Notification.permission === "granted") {
            // If it's okay let's create a notification

            var notification = new Notification(message, options);
        }

        // Otherwise, we need to ask the user for permission
        else if (Notification.permission !== "denied") {
            Notification.requestPermission(function (permission) {
                // If the user accepts, let's create a notification
                if (permission === "granted") {
                    var notification = new Notification(message, options);
                }
            });
        }

        // At last, if the user has denied notifications, and you 
        // want to be respectful there is no need to bother them any more.
    }

</script>