<p id="notice"><%= notice %></p>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div style="text-align: center">
        <h3>Food Categories</h3></div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>


      <th colspan=""></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>

        <td><%= link_to 'Edit', edit_category_path(category) %> </td>
        <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <%= link_to 'New Category', new_category_path ,class:"btn btn-default"%>
    </div>
    <br/>
  </div>
</div>

