<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <p id="notice"><%= notice %></p>
      <section class="menu">
        <div class="menu_title" id="mainmenu">
          <h2>Details</h2>

        </div>
      </section>





      <table class="table table-hover">


        <tbody>

        <tr>
          <td>  <strong>Name:</strong> </td>
          <td>  <%= @product.name %></td>
        </tr>



        <tr>
          <td>  <strong>Category:</strong></td>
          <td>       <%= @product.category.name %></td>
        </tr>



      <tr>
        <td><strong>Status:</strong></td>
        <% if @product.status==1 %>
            <td>  Available</td>
        <% else %>
            <td> Unavailable</td>
        <% end %>
      </tr>


      </p>



         <tr>
           <td> <B>products image :</B> </td>
           <% if @product.avatar.present? %>
           <td><%= image_tag @product.avatar.url, class: "img-thumbnail", style: "width:150px" %></td>
<%else%>    <td>No image available</td>
          </p>
         </tr>
      <% end %>

        </tbody>
      </table>
      <div style="text-align: right">

        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
      </div>
    </div>
  </div>
</div>
</div>