<!DOCTYPE html>
<html>

<head>


    <title>The cafeteria</title>
    <meta charset="utf-8">
    <meta name="author" content="pixelhint.com">
    <meta name="description" content="Resto HTML5/CSS3 Restaurant Home Page website Template" />


    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <!--<script type="text/javascript" src="/javascripts/carouFredSel.js"></script>-->
    <script type="text/javascript" src="/javascripts/easing.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>


    <title>Cafeteria</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
            <%= csrf_meta_tags %>

</head>


<body>

                <header>
                    <div class="wrapper">
                        <div class="logo">
                            <a href=""><img src="/img/logo2.png" alt="Re" title="" style="margin-top:-46%" /></a>
                        </div>

                        <nav>

                            <ul>
                                <!--<li><a href="" class="active">r</a></li>-->
                                <% if user_signed_in? %>

                                    <li><a href="/">Home</a></li>
                                  <li><a href="/#mainmenu">Menu</a></li>
                                  <li><a href="/orders/new">Order</a></li>
                                    <li><a href="/orders">My Orders</a></li>

                                  <li><a href="/user/edit">Edit profile</a></li>

                              <!--if admin-->

                                      <% if current_user.admin=='1'%>
                                       <li class="dropdown">

                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black">Admin
                                      <span class="caret"></span></a>


                                    <ul class="dropdown-menu" >

                                      <li><a href="/products/new">Add New product</a></li>
                                      <li><a href="/products">Edit all products</a></li>


                                      <li><a href="/users/new">Add New Customer</a></li>
                                      <li  ><a href="/users">Edit all Customer</a></li>

                                      <li><a href="/categories"> Manage Categories  </a></li>

                                    </ul>

                                  </li>


                                    <%end%>
                                  <!--end if admin-->

                                    <li>
                                        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                                    </li>

                                    <%else%>
                                        <li><a href="/user/sign_in">sign in</a></li>
                                        <li><a href="/user/sign_up">sign up</a></li>
                                        <%end%>
                            </ul>

                        </nav>

                    </div>

                </header>





    <% if alert %>
        <p class="alert alert-danger">
            <%= alert %>
        </p>
        <% end %>

                <%= yield %>

            <!--  start footer  -->
            <footer>
                <div class="wrapper">
                    <!-- adresse1  -->
                    <section class="adress">
                        <p>Address</p>
                        <hr/>
                        <p>Smart Village</p>
                        <p class="location">ITI<br/> </p>
                        <p class="phone">0123456789</p>
                    </section>

                    <!--  adress2  -->


                    <!--  footer navigation  -->
                    <section class="footer_nav">
                        <nav>
                            <ul>
                                <br/>
                                <li><a href="">Contact</a></li>
                                <hr/>
                                <li>
                                    <a class="address phone">0123456789</a>
                                </li>
                            </ul>
                        </nav>
                    </section>

                    <!--  footer copyrights  -->
                    <section class="copyrights">

                        <p>© All Rights Reserved 2017.</p>

                    </section>
                </div>
            </footer>
            <!--  end footer  -->
            <!--<script src='../ga.js'></script>-->

</body>

</html>